<mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <a mat-button [routerLink]="['/home']">
                <mat-icon>home</mat-icon>
                <span class="logo">Chepa - API</span>
            </a>
            <div *ngIf="!deviceXs" >
                <a mat-button [routerLink]="['/entreprise']">
                    Entreprise
                </a>
                <a mat-button [routerLink]="['/dechets']">
                    Dechet
                </a>
                <a mat-button [routerLink]="['/gestion']">
                    Gestion
                </a>
            </div>
            
        </div>
        <div >
            <button mat-icon-button>
                <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
                <span *ngIf="!deviceXs">Menu</span>
            </button>

        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs">
        <button mat-button>
            Entreprise
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs">
        <button mat-button>
            Dechet
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs">
        <button mat-button>
            Gestion
        </button>
    </mat-toolbar-row>
</mat-toolbar>